@import "tailwindcss";

@theme {
    --color-green-pirmary: #dee9e7;
    --color-green-secondary: #9cdcd5;

    --color-gray-primary:#47545e;
    --color-pink-primary:#f195b9;
    --color-yellow-primary:#ffdd83;
}